/*---------------------------------------------- Body*/

body {
    background-color: #c39b72b7;
}

h2  {
    display: inline-block;
    font-size: 120%;
    color:rgba(0, 0, 0, 0.8);
    text-decoration: none;
}
/*------------------------------------------- Header*/

.logo {
    background-color: rgba(86, 7, 12, 0.8);
    color: #fafafa;
    height: 100px;
}

.navbar-brand {
    font-size: 2rem;
}

.logo a {
    color: #fafafa;
}

.navbar {
    color: #fafafa;
}

/*------------------------------------------ MainText*/
.maintext {
    background-color: #ad8762;
    color: #fafafa;
    width: 100%;
    height: auto;
    font-size: 2rem;
}

/*-------------------------------------------- Footer*/

footer {
    background-color: rgba(86, 7, 12, 0.8);
    height: 100px;
}

footer li a {
    color: #fafafa;
    text-align: center;
    font-size: 1.4rem;
    padding: 5px;
}

footer i:hover {
    color: rgba(245, 221, 7, 0.86);
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}   

/*---------------------------------- Image container*/
.frame {
    border: 5px solid #ad8762;
    background:rgba(86, 7, 12, 0.8);
    margin: 2px;
    padding: 3px; 
  }
  
  img {
    width: 100%;
    height: 100%;
  }

/*------------------------------ Post Information Box*/

.post-info  {
    display: inline-block;
    max-height: 100px;
}


/*------------------------------------- Comments Box*/

.comments   {
    max-height: 300px;
}
