{% extends 'base.html' %}

{% block content %}

<!-- Main Text -->
<div class= "container-fluid">
    <div class= "row">
      <div class="col-12 maintext">
        <h1>Jesus is Everywhere,</h1>
        <h3>specially in Bavaria.</h3>
      </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col p-4">
            <h2 class="display-3">Welcome</h2>
            <br>
            <div class="div p-4">
            <strong>
              <p> My name is Luciano, i came to Bavaria for the first time in 2013. Since the beginning i noticed that there are Jesus crucified statues everywhere. </p>
              <br>
              <p>There's not a single town with at least one of them; curious thing to see because here, there's many towns one after another.</p>
              <br>
              <p>Now I'm a Bavarian resident and since i have feel so welcomed in here, i have decided to create this community for sharing our common admiration to his figure. </p> 
              <br>
              <p>Personally, i rather to look at him as a Friend, and not hanging from a cross, as a reminder to what happened to the last one that came around claiming to be a Messiah.</p>
            </strong>
            </div>
        </div>
    </div>
</div>

{% endblock %}