{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bavarian Cristus</title>
  <link rel="stylesheet" href="https://res.cloudinary.com/dqktndgd5/raw/upload/v1679857222/media/static/style.css">             
<!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
  <!-- Header-->
  <header class="container navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Bavarian Cristus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}"><i class="fa-solid fa-user-check"></i> {{ user.username }} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </header>
  <!-- Alerts from allauth -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
      {%  for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
          {{message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <!-- Main Text -->
  <div class="container ">
  <div class= "row">
    <div class="col-12 text-end">
      <h1>Jesus is Everywhere,</h1>
      <h3>specially in Bavaria.</h3>
    </div>
  </div>
  </div>
  <!-- Main content template -->
  <div class="container ">
    {% block content %}
    {% endblock %}
  </div>
  <!-- Footer-->
  <footer class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <p>&copy; 2023 Bavarian Cristus. All Rights Reserved.</p>
      </div>
      <div class="col-12 col-md-6 text-end">
        <ul>
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- Set timeout alert -->
  <script>
    setTimeout(function() {
      let messages = document.getElementById('msg');
      let alert = new bootstrap.Alert(messages);
      alert.close();
    }, 3420);
  </script>
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/5c47144494.js" crossorigin="anonymous"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>