{% extends 'base.html' %}

{% block content %}
       
{% for imagepost in imagepost_list %} 
<div class="col-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-6 p-4">
            <img src="{{ imagepost.image.url }}" width="100%" alt="{{ imagepost.title }}">
        </div>
        <div class="col">
            <div class="row">
                <div class="col p-4 d-inline">
                    <p>Posted by: <h5>{{ imagepost.user }}</h5></p> 
                </div>
                <div class="col  p-4 text-end">
                  <h2 class="p-4"><a href="{% url 'post_detail' imagepost.slug %}">{{ imagepost.title }}</a></h2>
                </div>
            </div>
        </div>      
    </div>
</div>

{% endfor %}

<!--
<div class="mb-1 text-muted">{{ imagepost.created_on }}</div>
    <p class="card-text mb-auto">{{ imagepost.excerpt }}</p>
    <a href="#" class="stretched-link">Continue reading</a>
</div>
-->
<div>
    <h5>Comments:</h5>
  <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
    {% for comment in comments %}
        <div class="comments">
          <p class="font-weight-bold">
          <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
            {{ comment.name }}
          <span class=" text-muted font-weight-normal">
          <!-- The comment's created date goes here -->
            {{ comment.created_on }}
          </span> wrote:
          </p>
          <!-- The body of the comment goes before the | -->
          {{ comment.text | linebreaks }}
        </div>
              <!-- Our for loop ends here -->
    {% endfor %}
</div>

{% endblock %}
