{% extends 'base.html' %}

{% block content %}
{% for imagepost in imagepost_list %}        
<div class="container">
    <div class="row" >
        <div class="col-6">
          <img src="{{ imagepost.image.url }}" width="100%" alt="{{ imagepost.title }}">
        </div>
        <div class="col-6">
          <h2><a href="{% url 'post_detail' imagepost.slug %}">{{ imagepost.title }}</a></h2>
          <p class="card-text">{{ imagepost.excerpt }}</p>
          <p class="card-text text-muted h6">{{ imagepost.created_on }}</p>
          <p><i class="far fa-heart"></i> x {{ imagepost.number_of_likes }}</p>
        </div>
    </div>
</div>
  {% endfor %}
{% endblock %}