{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 p-4">
          <h2>{{ user.username }}'s Profile</h2>
        </div>
        <div class="col-6 p-4 text-end">
          <a href="{% url 'upload' %}" class="btn btn-secondary">Create new Post</a>
        </div>
    </div>
</div>  
<hr>
<div class="container">
    {% if image_posts %}
    <div class="row">
        {% for post in image_posts %}
        <div class="col-md-4 mb-4 card">
            <div class="card-img mb-4 shadow-sm">
            <a href="{% url 'post_detail' post.slug %}">
              <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
            </a>
              <div class="card-body">
                <a href="{% url 'post_detail' post.slug %}">
                  <h5 class="card-title">{{ post.title }}</h5>
                </a>
                <small><p class="card-text text-muted">{{ post.created_on|date:"F j, Y" }}</p></small>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
        {% if is_paginated %}
        <nav class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; prev</a>
          {% endif %}
          <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
        </nav>
        {% endif %}
    {% else %}
    <p>No posts found.</p>
    {% endif %}
</div>

{% endblock %}
