{% extends 'base.html' %}

{% load cloudinary %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-6 p-4 align-items-center">
      <h2>In this website we all can post our “Bavarian Christus” images.</h2>
      <br>
      <p> You as colaborator can upload your photo and location of the statue.</p>
      <br>
      <p>Eventually we can create visiting routes for those who like me, are interested in Christ images.</p> 
    </div>
    <div class="col-6 p-4" id='backend_upload'>
      <h2>Upload Here <i class="fa-sharp fa-solid fa-camera-retro"></i></h2>
      <form method="POST" class="form-group" enctype="multipart/form-data">
          {% csrf_token %} 
          <label for="title">Title: </label>
          <input type="text" class="form-control" id="title" name="title">
          <label for="user">Username: </label>
          <input type="text" class="form-control" id="user" name="user" value="{{user.username}}">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" name="location" placeholder="Share the google maps locations link">
          <label id="textarea" for="text">Where did you took this one?</label>
          <textarea id="where" class="form-control" name="text" rows="5" cols="33" placeholder="Any comments you want to share."></textarea>
          <input type="file" class="form-control" id="upload" name="image" value="upload">
          <label for="upload"></label>
          <input type="submit" class="form-control btn btn-secondary" value="Upload">
      </form>
  </div>    
  </div>
</div>
{% endblock %}
